@charset "utf-8";

.booklist {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.booklist-title__text {
  margin-left: 15px;
  text-align: left;
  color: #000000;
}

.booklist-detail__text {
  margin-left: 25px;
  text-align: left;
  color: #222222;
}

.booklist-url__text {
  width: 35%;
  margin-left: 60%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.booklist-review__text {
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  overflow-wrap: break-word;
  color: #222222;
}

.booklist-reviewer__text--red {
  margin-right: 20px;
  text-align: right;
  color: #550000;
}
