@charset "utf-8";

.booklist {
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.booklist-title__text {
  margin-left: 15px;
  text-align: left;
  color: #000000;
}

.booklist-review__text {
  margin-left: 35px;
  text-align: left;
  color: #222222;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.booklist-reviewer__text--red {
  margin-left: 35px;
  text-align: left;
  color: #550000;
}

.bookdetail-button {
  width: 60%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #242f9b;
  color: #ffffff;
}
